@charset "utf-8";

// 1. Import the initial variables

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import url("https://use.typekit.net/kxp6fiw.css");

// 2. Set your own initial variables

$orange: 				#f29022;
$orange-invert: 		#ffffff;

$purple:				#754f9b;
$purple-invert:			#ffffff;

$blue:					#243885;
$blue-invert:			#ffffff;


// Update the sans-serif font family

$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Bely-display', sans-serif;

// 3. Set the derived variables

$primary: $orange;
$primary-invert: $orange-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

html{

	scroll-behavior: smooth;

}

.title {

	background-image: linear-gradient(45deg, $orange, $purple, $blue);
	background-size: 100%;

	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-moz-background-clip: text;
	-moz-text-fill-color: transparent;

}

.title__wrapper {

	display: flex;
	justify-content: center;

	margin-top: 70px;
	margin-bottom: 70px;

}

.navbar { 

	position: sticky;

	height: 70px;

	@media( min-width: 768px) {

		height: 110px;
	
	}

	&-brand {

		height: 100%;
		display: flex;
		align-items: center;

	}

	&-item {

		img {

			min-height: 40px;

			@media (min-width: 768px) {

				margin-left: 20px;
				min-height: 70px;

			}

		}

	}

	&-burger {
			
		margin-right: 10px;

		@media (min-width: 768px) {

			margin-right: 20px;

		}

	}

	&-menu {

		display: block;

		transform: translateX(200%);
		transition: transform 0.8s ease-in-out;

		@media (min-width: 1024px) { 

			transform: translateX(0);
			display: flex;
			align-items: center;

		}


		&.is-active {

			transform: translateX(0);

		}

	}

	&-start {

		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: 1024px) {
			
			flex-direction: row;

		}

		a {

			padding-left: 20px;
			padding-top: 10px;
			padding-right: 20px;
			padding-bottom: 10px;

		}

	}

}

.hero {

	margin-top: 110px;
	background-size: 100%;

	&-body{ 

		background-image: linear-gradient(60deg, $orange, $purple, $blue);

	}

	.title { 

		color: $orange-invert;
		font-size: 4rem;
		letter-spacing: 1px;
		background-image: none;
		-moz-text-fill-color: currentcolor;
		-webkit-text-fill-color: currentcolor;
	
	}

	.subtitle {
		
		color: $orange-invert;
		font-size: 1.5rem;
		
	}
	
	.column {

		max-width: 600px;
		
		@media (min-width: 768px) {
		
			margin-left: 60px;

		}

	}

}

.section__team {

	margin-top: 50px;

	.team__people {

		margin-bottom: 50px;

	}

	.title__wrapper {

		display: flex;
		justify-content: center;

		margin-top: 70px;
		margin-bottom: 70px;

	}

	.title {

		font-size: 3rem;

	}

}

.team__people {

	display: flex;
	flex-direction: column;
	justify-content: center;


	@media (min-width: 768px) {

		flex-direction: row;

	}

	.person {

		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;

		.title {

			margin-top: 30px;
			margin-bottom: 20px;
			font-size: 25px;

		}

		.avatar {

			border-radius: 10px;

			@media (min-width: 768px) {

				height: 370px;
				object-fit: cover;
				width: 400px;
				margin-right: 15px;
				margin-left: 15px;

			}

		}

		.about {

			text-align: center;
			max-width: 350px;

		}

		.linkedin_url {

			margin-top: auto;
			padding-top: 20px;

		}
		
	}

	.linkedin_url {

		width: 50px;
		
	}

}

.team__crinpo { 

	.crinpo__traits, .crinpo__summary {

		display: flex;
		justify-content: center;

	}

	.crinpo__summary {

		margin-top: 75px;
		margin-bottom: 75px;
		text-align: center;
		
		&--content {
			
			max-width: 700px;
			font-size: 2rem;

			margin-bottom: 50px;
			
		}

	}

	.crinpo__traits {

		display: flex;
		justify-content: center;

	}

	.crinpo__trait {

		margin-left: 50px;
		margin-right: 50px;
		margin-bottom: 75px;
		font-size: 1rem;
		max-width: 400px;

		.crinpo__subtitle {

			font-size: 1.6rem;

		}

		#creative {

			color: $orange;

		}

		#innovative {

			color: $purple;

		}

		#positive {

			color: $blue;
		}

	}

	.crinpo__img {

		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 120px;
		display: block;

	}

}

.hero__assignment {

	background-color: $purple;
	color: $purple-invert;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	.title {		
		
		font-size: 3rem;
		color: $orange-invert;
		letter-spacing: 1px;
		background-image: none;
		-moz-text-fill-color: currentcolor;
		-webkit-text-fill-color: currentcolor;

	}

	.title__wrapper {

		margin-top: 0;

	}

	.assignment__wrapper {

		display: flex;
		justify-content: center;

	}

	.assignment__content {

		max-width: 700px;
		font-size: 2rem;
		margin-bottom: 70px;
		text-align: center;

	}

	.client__wrapper {

		display: flex;
		align-items: center;
		flex-direction: column;

	}

	.title__client {

		font-size: 2rem;
		letter-spacing: 1px;
		margin-bottom: 40px;
		margin-top:0;

	}

	.client__content {

		width: 700px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;

		span {

			font-weight: 700;

		}

	}

	.client__summary {

		display: flex;
		flex-direction: column;
		align-items: center;

		span {

			font-weight: 700;
			
		}

	}

	.stakeholders {

		display: flex;
		width: 900px;
		justify-content: space-between;
	}

}

.section__research {

	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;

	span {

		font-weight: 700;

	}

	.title {

		font-size: 3rem;
		margin-top: 70px;

		&--research {

			font-size: 1.5rem;
			margin-right: auto;
			margin-top: 0;
			margin-right: 20px;
			margin-bottom: 0;

			border-right: 2px $orange;

		}

	}

	.research__content {

		display: flex;
		justify-content: space-between;
		flex-direction: column;

		&--table {

			display: flex;
			margin-bottom: 70px;
			margin-top: 70px;

		}

	}

	.research__subject {

		display: flex;
		flex-direction: column;

		&--title {

			align-self: flex-start;
			flex-direction: row;
			display: flex;

		}
	}
	
	.download_icon {

		width: 28px;

		&--two {

			margin-right: 5px;

		}

	}

	.creative_session {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__image-thumbnail {

			margin-top: 20px;

		}

		.image_container {

			cursor: pointer;

			img {

				height: 150px;
				object-fit: cover;
				width: 200px;

			}

		}

	}

	.modal-subtext {

		color: $orange-invert;
		display: flex;
		justify-content: center;
		text-align: center;
		padding-top: 10px;
	}

	.deskresearch {
	
		&__summary {

			display: flex;
			justify-content: space-between;
			margin-top: 10px;


			img {

				width: 300px;

				margin-top: 10px;

			}

			.title {

				margin-top: 0px;

			}

		}

		&--average, &--restaurants, &--current-apps {

			flex: 1 1 0px;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;

		}

		&--average {

			.title {

				font-size: 2rem;

			}

		}
		
		&--current-apps {


			.title {

				height: 50px;
				font-size: 1.7rem;

			}

		}

	}

	.quotes {

		&__columns {

			margin-top: 20px;

		}

		&__column {

			text-align: center;
			margin-right: 10px;
			margin-left: 10px;

		}

	}

}

.section__process {

	background-color: $blue;
	color: $blue-invert;
	padding-bottom: 128px;

	.title {

		font-size: 3rem;
		color: $blue-invert;
		background-image: none;
		-moz-text-fill-color: currentcolor;
		-webkit-text-fill-color: currentcolor;
		letter-spacing: 1px;
		
	}

	.process__container {

		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;

	}

	.level {

		align-items: center;
		justify-content: space-between;
		display: flex;

		&--multi {

			flex-direction: column;

		}

	}

	.level-item {

		align-items: center;
		display: flex;
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: center;

		a {

			text-decoration: underline;
			color: $blue-invert;
		}

		&.arrows--rotated {

			img {

				transform: scaleX(-1);

			}
		}
		
		img {

			height: 80px;

			margin-left: 10px;
			margin-right: 10px;

		}
	}

}

.section__concept {

	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;

	padding-bottom: 0px;

	span {

		font-weight: 700;

	}

	.title {

		font-size: 3rem;

		&--orange {

			color: $orange;
			font-size: 1.5rem;
		
		}

		&--purple {

			color: $purple;
			font-size: 1.5rem;

		}
		
		&--blue {

			color: $blue;
			font-size: 1.5rem;

		}
	}

	.concept__content {

		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		margin-bottom: 15px;

		&--last {

			margin-bottom: 60px;

		}

	}

	.concept__images {

		margin-top: 20px;

	}

}

.footer {

	background-color: $orange;
	color: $orange-invert;

	a {

		color: $orange-invert;

	}

	img {

		width: 60px;

	}

}