@charset "utf-8";

// 1. Import the initial variables

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import url("https://use.typekit.net/kxp6fiw.css");

// 2. Set your own initial variables

$orange: 				#f29022;
$orange-invert: 		#ffffff;

$purple:				#754f9b;
$purple-invert:			#ffffff;

$blue:					#243885;
$blue-invert:			#ffffff;


// Update the sans-serif font family

$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Bely-display', sans-serif;

// 3. Set the derived variables

$primary: $orange;
$primary-invert: $orange-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

.content_wrapper {

	padding-bottom: 20px;
	width: 400px;

}

.concepts__wrapper {

	display: flex;
	justify-content: space-evenly;
	gap: 30px;
	// flex-wrap: wrap;

}

.navbar { 

	position: sticky;

	height: 70px;

	@media( min-width: 768px) {

		height: 130px;
	
	}

	&-brand {

		// z-index: 99;

		height: 100%;
		display: flex;
		align-items: center;

	}

	&-item {

		img {

			min-height: 40px;

			@media (min-width: 768px) {

				margin-left: 20px;
				min-height: 80px;

			}

		}

	}

	&-burger {
			
		margin-right: 10px;

		color: $blue;

		@media (min-width: 768px) {

			margin-right: 20px;

		}

	}

	&-menu {

		display: block;

		transform: translateX(200%);
		transition: transform 0.8s ease-in-out;

		@media (min-width: 1024px) { 

			transform: translateX(0);
			display: flex;
			align-items: center;

		}


		&.is-active {

			transform: translateX(0);

		}

	}

	&-start {

		// display: block;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: 1024px) {
			
			flex-direction: row;

		}

		a {

			color: $blue;

			padding-left: 15px;
			padding-top: 10px;
			padding-right: 15px;
			padding-bottom: 10px;

		}

	}

}